GITHUB_TOKEN=GITHUB_TOKEN
GITHUB_WEBHOOK_SECRET=WEBHOOK_SECRET
CHROMA_PATH=./.chroma
OPENAI_API_KEY=OPENAI_API_KEY
LLM_BASE_URL=LLM_BASE_URL
LLM_MODEL=LLM_MODEL
GITHUB_REPO=GITHUB_REPO
SQLITE_DB_PATH=SQLITE_DB_PATH